<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencia</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body>

    <nav>
        <ul>
            <li>
                <a href="/tasks">Tareas pendientes</a>
            </li>
            <li>
                <a href="/tasks_completed">Tareas completadas</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="/logout">Log Out</a>
            </li>
            {% else %}
            <li>
                <a href="/signup">Sign Up</a>
            </li>
            <li>
                <a href="/signin">Sign In</a>
            </li>
            {% endif %}

    </nav>
    {% block content %} {% endblock %}
</body>

</html>